<h2>Notre catalogue</h2>

{%- set collecs = collections.catalogue | groupByAttribute('Collection') -%}

{%- block header %}{% endblock -%}

<h3>Collection Pratiques Utopiques</h3>

<ul class="unstyled grid">
  {%- for post in collecs["Collection Pratiques Utopiques"] -%}
    <li>
      <a href="{{ post.url | url }}" class="bare">
        {% image src=post.data.Couverture, alt=post.data.Titre, width=240 %}
      </a>
    </li>
  {%- endfor -%}
</ul>

<h3>Autres titres des Éditions REPAS</h3>

<ul class="unstyled grid">
  {%- for post in collecs["Collection Guide Pratique"] | concat(collecs["Hors collection"]) -%}
    <li>
      <a href="{{ post.url | url }}" class="bare">
        {% image src=post.data.Couverture, alt=post.data.Titre, width=240 %}
      </a>
    </li>
  {%- endfor -%}
</ul>

<h3>Constance Social Club</h3>

<ul class="unstyled grid">
  {%- for post in collecs["Constance Social Club"] -%}
    <li>
      <a href="{{ post.url | url }}" class="bare">
        {% image src=post.data.Couverture, alt=post.data.Titre, width=240 %}
      </a>
    </li>
  {%- endfor -%}
</ul>

<h3>Presses de l'économie sociale</h3>

<ul class="unstyled grid">
  {%- for post in collecs["Presses de l'Economie Sociale"] | concat(collecs["Presses de l'Economie Sociale et Fédération Nationale des Coopératives de Consommateurs"]) -%}
    <li>
      <a href="{{ post.url | url }}" class="bare">
        {% image src=post.data.Couverture, alt=post.data.Titre, width=240 %}
      </a>
    </li>
  {%- endfor -%}
</ul>
